body{
  text-align: center;
  background-color: #1f4068;
}
.cont{
  margin: 250px;
}
h1{
  font-size: 3rem;
  font-family: cursive;
  color: #43d8c9;
}
.btn{
background:    #e6a157;
border-radius: 14px;
padding:       20px 45px;
color:         #2d132c;
display:       inline-block;
font:          normal bold 26px/1 "Ubuntu", sans-serif;
text-align:    center;
}
/* --------dark mode css--------- */
.dark{
  background-color: black;
  color: white;
}
.o{
  color: white;
}
.bb{
background:    #15d798;
border-radius: 14px;
padding:       20px 45px;
color:         white;
display:       inline-block;
font:          normal bold 26px/1 "Ubuntu", sans-serif;
text-align:    center;
}
